{% extends "base.html" %} {% block content %}

<h1>All Products
    <small>
        <a href='/category/'>Categories</a>
    </small>
</h1>

<div class='row'>
     {% for object in category_list %}

    <div class='col-xs-4'>
        <div class="thumbnail text-center">
            <h4>
                <a href="{{ object.get_absolute_url }}">{{object.title}}</a>
            </h4>
            {% if product.get_image_url %}
            <a href='{{ product.get_absolute_url }}'>
                <img id='img' class='img-responsive' src='{{ product.get_image_url }}' />
            </a>
            <br/> {% endif %}
        </div>
    </div>
  {% cycle '' '' '</div><div class="row">' %}
      {% endfor %}

</div>


{% endblock %}
