{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>{% block head_title %}eCommerce 2{% endblock %}</title>

    {% include 'head_css.html' %}

    <style>
        {
            % block style %
        }

            {
            % endblock %
        }
    </style>



</head>

<body>
    {% include 'navbar.html' %} 


    
    {% if messages %}
    

    <div class='container'>
        <div class='alert alert-success text-center alert-dismissible'>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {% for message in messages %}
            <p{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</p>
                <br/> {% endfor %}
        </div>

    </div>
    {% endif %} {% block jumbotron %} {% endblock %}
    <div class="container">



        {% block content %} {% endblock %}


    </div>
    <!-- /container -->

    <!-- footer  -->
    <footer style="margin-top:600;">
        <div class="col-md-12" style="background-color:#0E3D14">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 mb-30px" style="color:white; margin-top:50px; margin-bottom:20px">
                            <h3>Greecomall</h3>
                            <p>
                                 Here on the blog I want to showcase my personality and also share the knowledge I have on Fashion, Lifestyle and Travels
                                that will be focusing majorly on fashion, blogging and other life style topics with an aim to connect with, inspire and help
                                people to create their best life (style and blog)
                            </p>
                    </div>


                    <div class="col-lg-4 mb-30px" style="color:white; margin-top:50px; margin-bottom:20px">
                            <h3>Greecomall All Pages</h3>
                            <ul class="column">
                                
                                    <h3 class="row">
                                        <a href="/">
                                                Home 
                                        </a>
                                    </h3>
                                    <h3 class="row">
                                        <a href="/category/">
                                            Category
                                        </a>
                                    </h3>
                                    <h3 class="row">
                                        <a href="/contact">
                                            Contact us
                                        </a>
                                    </h3>
                                    
                                </ul>
                    </div>






                    <div class="col-lg-4 mb-30px" style="color:white; margin-top:50px; margin-bottom:20px">
                        <h3> Find Us</h3>
                        <div >
                                <ul class="column">
                                
                                    <h4 class="row">
                                        <a href="https://twitter.com/Akanakintama250">
                                            <i class="fa fa-twitter"></i>
                                        </a> Twitter
                                    </h4>
                                    <h4 class="row">
                                        <a href="https://www.linkedin.com/in/akanakintama-ange-296604125">
                                            <i class="fa fa-linkedin"></i>
                                        </a>LinkedIn
                                    </h4>
                                    <h4 class="row">
                                        <a href="https://www.instagram.com/theakanakintama/">
                                        <i class="fa fa-instagram" aria-hidden="true"></i>
                                        </a>Instagram
                                    </h4>
                                    <h4 class="row">
                                        <a href="#">
                                            <i class="fa fa-facebook-f" aria-hidden="true"></i>
                                        </a>Facebook
                                    </h4>
                                </ul>
                            </div>
                    </div>







                    
                </div>
            </div>

        </div>
    </footer>
    {% include "javascript.html" %}

    <script>
        $(document).ready(function () {
            {% block jquery %}
            {% endblock %}
        });

    </script>

</body>

</html>

<!-- 

<img width="602" height="571" src="https://www.salonbookingsystem.com/wp-content/uploads/2014/06/salon-booking-google-calendar.jpg"
    class="vc_single_image-img attachment-full" alt="" srcset="https://www.salonbookingsystem.com/wp-content/uploads/2014/06/salon-booking-google-calendar.jpg 602w, https://www.salonbookingsystem.com/wp-content/uploads/2014/06/salon-booking-google-calendar-300x285.jpg 300w, https://www.salonbookingsystem.com/wp-content/uploads/2014/06/salon-booking-google-calendar-542x514.jpg 542w"
    sizes="(max-width: 602px) 100vw, 602px">

    <img class="vc_single_image-img " src="https://www.salonbookingsystem.com/wp-content/uploads/2016/01/pricing_image_2.jpg"
        width="2000" height="650" alt="pricing_image_2" title="pricing_image_2">


-->